@use "sass:math";

$colors: (
  main:#B9B6FE,
  black: #111111,
  dark-grey: #575757,
  white: #ffffff,
  violet: #b9a7d1,
  success: #90ebdf,
  danger: #ce4f66,

);

$screen: (
  md:750px
);

$typography: (
  fontSize:24px)